#u142
{
	border-color: #462511;
	background-color: #462511;
}

#u142_align_to_page
{
	position: relative;
}

#menuu189
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u151,#u211,#u212
{
	background-color: transparent;
	position: relative;
}

#u214-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u197,#u198
{
	background-color: transparent;
	position: relative;
}

#u200-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u204,#u207
{
	background-color: transparent;
	position: relative;
}

#u210-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u254,#u257
{
	background-color: transparent;
	position: relative;
}

#u259-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u212.MuseMenuActive #u214-4 p,#u198.MuseMenuActive #u200-4 p,#u207.MuseMenuActive #u210-4 p,#u257.MuseMenuActive #u259-4 p
{
	color: #894819;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

