.version.menu /* version checker */
{
	color: #000007;
	background-color: #151E18;
}

.html
{
	background-color: #F5F1EE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u142
{
	z-index: 35;
	min-height: 99px;
	padding-bottom: 11px;
}

#u142_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u151
{
	z-index: 36;
	width: 300px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 91px;
}

#menuu189
{
	z-index: 38;
	width: 446px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 607px;
}

#u212
{
	width: 110px;
	padding-bottom: 16px;
}

#u214-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u198
{
	width: 110px;
	padding-bottom: 16px;
}

#u200-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u207
{
	width: 110px;
	padding-bottom: 16px;
}

#u210-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u257
{
	width: 110px;
	padding-bottom: 16px;
}

#u259-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u142-bw
{
	z-index: 35;
	min-height: 99px;
}

#u119
{
	z-index: 2;
	min-height: 236px;
}

#u119_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 26px;
	padding-bottom: 87px;
}

#pu138
{
	width: 0.01px;
	left: 122px;
	position: relative;
}

#u138
{
	z-index: 8;
	width: 354px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u121
{
	z-index: 3;
	width: 180px;
	margin-right: -10000px;
	left: 368px;
}

#u121:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u121:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u137-4
{
	z-index: 4;
	width: 131px;
	min-height: 54px;
	margin-bottom: -24px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 25px;
}

#u140
{
	z-index: 9;
	width: 354px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 562px;
}

#menuu158
{
	z-index: 10;
	width: 446px;
	left: 357px;
	margin-top: 55px;
}

#u211,#u159
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
}

#u162
{
	width: 110px;
	padding-bottom: 16px;
}

#u163-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u197,#u166
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 112px;
}

#u169
{
	width: 110px;
	padding-bottom: 16px;
}

#u172-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u204,#u174
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 224px;
}

#u177
{
	width: 110px;
	padding-bottom: 16px;
}

#u180-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u254,#u247
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 336px;
}

#u248
{
	width: 110px;
	padding-bottom: 16px;
}

#u212.MuseMenuActive,#u198.MuseMenuActive,#u207.MuseMenuActive,#u257.MuseMenuActive,#u162.MuseMenuActive,#u169.MuseMenuActive,#u177.MuseMenuActive,#u248.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u251-4
{
	width: 110px;
	min-height: 18px;
	margin-right: -10000px;
	top: 8px;
}

#u212.MuseMenuActive #u214-4,#u198.MuseMenuActive #u200-4,#u207.MuseMenuActive #u210-4,#u257.MuseMenuActive #u259-4,#u162.MuseMenuActive #u163-4,#u169.MuseMenuActive #u172-4,#u177.MuseMenuActive #u180-4,#u248.MuseMenuActive #u251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u119-bw
{
	z-index: 2;
	min-height: 236px;
	margin-top: 462px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -462px;
}

